html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("/images/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: relative;
  height: 100vh;
  margin: 0;
}

nav {
  color: white;
  display: flex;
  align-items: center; 
}

nav a {
    padding: 5px;
    color: white;
    text-decoration: none;
}

main {
  background-color: white;
  width: 700px;
  padding: 50px;
  box-shadow: -3px 3px 6px #0000004d;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: darkblue;
  max-width: 500px;
  margin: auto;
}

h2 {
    color: blue;
    text-align: center;
}

p {
    color: gray;
    text-align: center;
}

td {
    text-align: center;
}

td:first-child {    
    text-align: left;
    width:  10rem;
}

#options {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#municipality-slector {
  width: 15rem;
}

.loading {
  border: 10px solid #ebebeb;
  border-top: 10px solid lightsalmon;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


form {
    width: 400px;
    margin: auto;
}

form label{
    color: deepskyblue;
    font-size: 0.8rem;
    display: block;
    margin-top: 15px;
    margin-left: 10px;
}

form input{
    width: 100%;
    padding: 10px;
    display: block;
    border: 1px solid deepskyblue;
    border-radius: 1rem;
    box-sizing: border-box;
    outline: none;
}

form input:focus{
    border-color: darkblue;
}

form button{    
    border-radius: 1rem;
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    min-width: 110px;
    float: right;
    margin-top: 15px;
    outline: none;
}

form button:focus{
    border-color: darkblue;
    background-color: darkblue;
} 

.invalid{
    border-color: red;
}

.form-error p{
    padding-left: 10px;
    color: red;
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
}

.clear-float{
    clear: both;
}
